__pycache__/
*.pyc
.pytest_cache/
venv/
.idea/
Selenium_WebDriver/reports/screenshots/*.png
# Selenium generated runtime files
Selenium_WebDriver/reports/screenshots/
Selenium_WebDriver/tests/**/reports/