
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
    <head>
        <title>Danh mục thuốc</title>
    </head>
    <body>
        <main layout:fragment="content">
            <section class="container">
                <h1>Danh mục thuốc</h1>

                <table border="1" cellpadding="10" cellspacing="0" style="width:100%; background:#fff;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên danh mục</th>
                            <th>Mô tả</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c : ${categories}">
                            <td th:text="${c.categoryId}"></td>
                            <td th:text="${c.categoryName}"></td>
                            <td th:text="${c.description}"></td>
                            <td th:text="${c.status}"></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </body>
</html>